<table class="table">
  <tr>
    <th>Total</th>
    <th><%= number_with_delimiter(earnings.sum(:sum)) %></th>
  </tr>
</table>

<%= button_to 'Add Earning', new_user_earning_path, method: :get, class: 'button' %>

<br>

<div class="row">
  <table class="table table-striped">

    <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Sum</th>
        <th>Description</th>
        <th>I</th>
    </tr>

    <% earnings.each do |earning| %>
      <tr>
        <td id="date_cell"><%= earning.date %></td>
        <td><%= truncate(earning.category, length: 10) %></td>
        <td><%= number_with_delimiter(earning.sum) %></td>
        <td><%= truncate(earning.description, length: 20) %></td>
        <td><%= link_to 'I', user_earning_path(earning.user.id, earning.id) %></td>
      </tr>
    <% end %>

  </table>
</div>