<table class="table">
  <tr>
    <th class="text-center">Total</th>
    <th class="text-center"><%= number_with_delimiter(earnings.sum(:sum)) %></th>
  </tr>
</table>

<%= button_to 'Add Earning', new_user_earning_path, method: :get, class: 'btn btn-success' %>

<br>

<div class="row">
  <table class="table table-striped">
    <tr>
      <th class="text-center">Date</th>
      <th class="text-center">Category</th>
      <th class="text-center">Sum</th>
      <th class="text-center">Description</th>
      <th class="text-center">I</th>
    </tr>

    <% earnings.each do |earning| %>
      <tr>
        <td><%= earning.date %></td>
        <td><%= truncate(earning.category, length: 10) %></td>
        <td><%= number_with_delimiter(earning.sum) %></td>
        <td><%= truncate(earning.description, length: 15) %></td>
        <td><%= link_to 'I', user_earning_path(earning.user.id, earning.id) %></td>
      </tr>
    <% end %>

  </table>
</div>