<table>
  <tr>
    <th>Date</th>
    <th>Category</th>
    <th>Sum</th>
    <th>Description</th>
    <th>X</th>
  </tr>

  <tr>
    <td><%= @earning.date %></td>
    <td><%= @earning.category %></td>
    <td><%= number_with_delimiter(@earning.sum) %></td>
    <td><%= @earning.description %></td>
    <td><%= link_to 'X', delete_earning_path(params[:user_id], params[:id]), method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </tr>
</table>