<table>
  <tr>
    <th>Total</th>
    <th><%= number_with_delimiter(spendings.sum(:sum)) %></th>
  </tr>
</table>

<br>

<table>

  <tr>
    <th>Date</th>
    <th>Category</th>
    <th>Sum</th>
    <th>Description</th>
    <th>X</th>
  </tr>

  <% spendings.each do |spending| %>
      <tr>
        <td><%= spending.date %></td>
        <td><%= spending.category %></td>
        <td><%= number_with_delimiter(spending.sum) %></td>
        <td><%= truncate(spending.description, length: 25) %></td>
        <td><%= link_to 'X', delete_spending_path(spending.user.id, spending.id), method: :delete %></td>
      </tr>
  <% end %>



</table>