<table class="table">
  <tr>
    <th class="text-center">Total</th>
    <th class="text-center"><%= number_with_delimiter(spendings.sum(:sum)) %></th>
  </tr>
</table>

<%= button_to 'Add Spending', new_user_spending_path, method: :get, class: 'btn btn-warning' %>

<br>

<div class="row">
  <table class="table table-striped">
    <tr>
      <th class="text-center">Date</th>
      <th class="text-center">Category</th>
      <th class="text-center">Sum</th>
      <th class="text-center">Description</th>
      <th class="text-center">I</th>
    </tr>

    <% spendings.each do |spending| %>
      <tr>
        <td id="date_cell"><%= spending.date %></td>
        <td><%= truncate(spending.category, length: 10) %></td>
        <td><%= number_with_delimiter(spending.sum) %></td>
        <td><%= truncate(spending.description, length: 15) %></td>
        <td><%= link_to 'I', user_spending_path(spending.user.id, spending.id) %></td>
      </tr>
    <% end %>

  </table>
</div>