<%= form_for @user do |f|%>

    <div class="labels">
      <%= f.label :email, nil, class: 'label'%>
      <%= f.label :password, nil, class: 'label' %>
      <%= f.label :password_confirmation, nil, class: 'label' %>
    </div>

    <div class="fields">
      <%= f.email_field :email, class: 'field' %>
      <%= f.password_field :password, class: 'field'  %>
      <%= f.password_field :password_confirmation, class: 'field'  %>
    </div>

    <%= f.submit 'Register!', class: 'button' %>

<% end %>