<div class="form-group">
    <%= form_for @user do |f|%>
        <%= f.email_field :email, placeholder: 'Email', class: 'form-control width-50' %>
        <br>
        <%= f.password_field :password, placeholder: 'Password', class: 'form-control width-50'  %>
        <br>
        <%= f.password_field :password_confirmation, placeholder: 'Confirm password', class: 'form-control width-50'  %>
        <br>
        <%= f.submit 'Register!', class: 'btn btn-default' %>

    <% end %>
</div>