<table class="table">

  <tr>
    <td>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <p>User's info</p>
          <p style="font-size: small">Registered <%= @user.created_at.strftime('%Y-%m-01') %></p>
          <%= button_to 'Change password', nil, class: 'btn btn-block', id: 'chng-btn-link' %>
          <%= button_to 'Cancel', nil, class: 'btn btn-block', id: 'cancel-btn-link' %>
        </div>

        <div class="chng-pass-div col-md-6 col-xs-6">
          <div class="form-group">
            <%= form_tag(edit_user_path, method: :put) do %>
              <%= text_field_tag "user[password]", nil, placeholder: 'New password', class: 'form-control field-margin', type: 'password' %>
              <%= text_field_tag "user[password_confirmation]", nil, placeholder: 'Confirm password', class: 'form-control field-margin', type: 'password' %>
              <%= submit_tag 'Change password', class: 'btn btn-default btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="row">
        <div class="col-md-6 col-xs-6">
            <p>Show My</p>
            <%= button_to 'Spendings for period', nil, class: 'btn btn-warning btn-block', id: 'spendings-link' %>
            <br>
            <%= button_to 'Earnings for period', nil, class: 'btn btn-success btn-block', id: 'earnings-link' %>
            <br>
            <%= button_to 'Cancel', nil, class: 'btn btn-block', id: 'cancel-link' %>
        </div>

        <div class="col-md-6 col-xs-6">

            <div class="spendings-div">
              <p>Enter period</p>
              <div class="form-group">
                <%= form_tag(spendings_period_path(current_user)) do%>
                <%= date_field_tag :start_date, (Time.now).strftime('%Y-%m-01'), class: 'form-control ' %>
                <br>
                <%= date_field_tag :end_date, Time.now.strftime('%Y-%m-%d'), class: 'form-control ' %>
                <br>
                <%= submit_tag 'Show Spendings', class: 'btn btn-warning'%>
                <% end %>
              </div>
            </div>

        <div class="earnings-div">
          <p>Enter period</p>
          <div class="form-group">
            <%= form_tag(earnings_period_path(current_user)) do%>
            <%= date_field_tag :start_date, (Time.now).strftime('%Y-%m-01'), class: 'form-control' %>
            <br>
            <%= date_field_tag :end_date, Time.now.strftime('%Y-%m-%d'), class: 'form-control' %>
            <br>
            <%= submit_tag 'Show Earnings', class: 'btn btn-success'%>
          <% end %>
          </div>
        </div>
      </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>

    </td>
  </tr>
</table>
