<div class="home">
  <p>Count your money :)</p>

  <% unless current_user %>
    <p>But first <%= link_to 'register', new_user_path %> or <%= link_to 'sign in', login_path%> (:</p>
  <% end %>

  <% if current_user %>
    <table>
      <tr>
        <td>Your total <%= link_to 'earnings', user_earnings_path(current_user) %></td>
        <td class=""><%= number_with_delimiter(@total_earnings) %></td>
      </tr>

      <tr>
        <td>Your total <%= link_to 'spendings', user_spendings_path(current_user) %></td>
        <td><%= number_with_delimiter(@total_spendings) %></td>
      </tr>

      <tr>
        <td>Balance:</td>
        <td class='<%= @balance > 0 ? 'green' : 'red' %>'><%= number_with_delimiter(@balance) %></td>
      </tr>
    </table>

    <div class="earning">
      <%= button_to 'Add Earning', new_user_earning_path(current_user), method: :get, class: 'button' %>
    </div>

    <div class="spending">
      <%= button_to 'Add Spending', new_user_spending_path(current_user), method: :get, class: 'button' %>
    </div>
  <% end %>


</div>