<!DOCTYPE html>
<html>
<head>
  <title>MoneyCounter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="menu">
  <%= link_to 'Home', root_path %>
  <%= link_to 'Login', login_path, id: 'login-link' unless current_user%>
  <%= link_to current_user.email, user_path(current_user) if current_user %>
  <%= link_to 'Logout', logout_path if current_user%>
  <%= link_to 'Register', new_user_path unless current_user%>
</div>

<div class="popup">
  <%= form_tag login_path do%>

      <%= email_field_tag :email, nil, placeholder: 'Email', class: 'field' %>
      <br>
      <%= password_field_tag :password, nil, placeholder: 'Password', class: 'field' %>
      <br>
      <br>
      <%= submit_tag 'Sign in', class: 'button' %>
  <% end %>
</div>


<%= yield %>

</body>
</html>
