<!DOCTYPE html>
<html>
<head>
  <title>MoneyCounter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="main-container" class="container">
  <div class="row">

    <div class="col-md-3 col-xs-2 ">
      <!--пусто слева-->
    </div>

    <div class="col-md-6 col-xs-8 text-center">
      <div class="nav">

        <ul>
          <li><%= link_to 'Home', nil, id: 'home-link' unless current_user%></li>
          <li><%= link_to 'Home', root_path if current_user%></li>
          <li><%= link_to 'Login', nil, id: 'login-link' unless current_user %></li>
          <li><%= link_to current_user.email, user_path(current_user) if current_user %></li>
          <li><%= link_to 'Logout', logout_path if current_user%></li>
          <li><%= link_to 'Register', nil, id: 'register-link' unless current_user%></li>

        </ul>

        <% flash.each do |key, val| %>
            <div class="alert alert-<%= key %>"><%= val %></div>
        <% end %>

        <div class="login-div">
          <%= form_tag login_path do%>
              <%= email_field_tag :email, nil, placeholder: 'Email', class: 'form-control width-50' %>
              <br>
              <%= password_field_tag :password, nil, placeholder: 'Password', class: 'form-control width-50' %>
              <br>
              <%= submit_tag 'Sign in', class: 'btn btn-default' %>
          <% end %>
        </div>

        <div class="register-div">
          <%= form_tag users_path do%>
              <%= text_field_tag "user[email]", nil, class: 'form-control width-50', placeholder: 'Email', type: 'email'  %>
              <br>
              <%= text_field_tag "user[password]", nil, placeholder: 'Password', class: 'form-control width-50', type: 'password'  %>
              <br>
              <%= text_field_tag "user[password_confirmation]", nil, placeholder: 'Confirm password', class: 'form-control width-50', type: 'password'  %>
              <br>
              <%= submit_tag 'Register!', class: 'btn btn-default' %>

          <% end %>
        </div>

      </div>
      <%= yield %>
    </div>

    <div class="col-md-3 col-xs-2"></div>

  </div>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
