<!DOCTYPE html>
<html>
<head>
  <title>MoneyCounter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="main-container" class="container">
  <div class="row">

    <div class="col-md-3 col-xs-2 ">
      <!--пусто слева-->
    </div>

    <div class="col-md-6 col-xs-8 text-center">
      <div class="nav">
        <ul>
          <div class="unless-current-user">
            <%= render partial: 'layouts/unlesscurrentuser' %>
          </div>

          <div class="if-current-user">
            <%= render partial: 'layouts/ifcurrentuser' %>
          </div>
        </ul>
      </div>

        <h1 class="text-center">Count your money :)</h1>

        <div class="flash">
            <% flash.each do |key, val| %>
                <div class="alert alert-<%= key %>"><%= val %></div>
            <% end %>
        </div>

        <div class="login-div">
            <%= render partial: 'layouts/logindiv' %>
        </div>

        <div class="register-div">
            <%= render partial: 'layouts/registerdiv' %>
        </div>

        <div class="homepage-div">
        </div>



      <%= yield %>
    </div>

    <div class="col-md-3 col-xs-2"></div>

  </div>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
