<!DOCTYPE html>
<html>
<head>
  <title>MoneyCounter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main-container" class="container">
  <div class="row">

    <div class="col-md-3 col-xs-4 ">
      <!--пусто слева-->
    </div>

    <div class="col-md-6 col-xs-8 text-center">
      <div class="nav">

        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Login', login_path, id: 'login-link' unless current_user %></li>
          <li><%= link_to current_user.email, user_path(current_user) if current_user %></li>
          <li><%= link_to 'Logout', logout_path if current_user%></li>
          <li><%= link_to 'Register', new_user_path unless current_user%></li>
        </ul>
      </div>
      <%= yield %>
    </div>

    <div class="col-md-3 col-xs-4"></div>

  </div>
</div>
</body>
</html>
